<div class="container">
    <div class="row">
        
        <div class="col-sm-6">
                    
                    <div class="card text-white bg-secondary mb-3" >
                        <img src="https://thumbs.dreamstime.com/t/register-now-button-green-register-now-web-button-illustration-isolated-white-background-121304629.jpg" class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title">Register</h5>
                          <p class="card-text">For the new user.</p>
                        </div>                      
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><a href="/user/register">Click Here >>></a></li> 
                        </ul>
                    </div>
                      
        </div>

        <div class="col-sm-6">
            
            <div class="card text-white bg-secondary mb-3" >
                <img src="https://www.baldwinemc.com/wp-content/uploads/Login-button.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Login</h5>
                  <p class="card-text">For the current user.</p>
                </div>                      
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="/user/login">Click Here >>></a></li> 
                </ul>
            </div>
              
</div>

</div>
</div>