<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="list-group">

                <a class="list-group-item list-group-item-action active" a href="/member/arts">Faculty of Arts</a>

                <a class="list-group-item list-group-item-action" a href="/member/architecture">Faculty of Architecture</a>

                <a class="list-group-item list-group-item-action" a href="/member/business">Faculty of Business</a>

                <a class="list-group-item list-group-item-action" a href="/member/comm">Faculty of Communication</a>

                <a class="list-group-item list-group-item-action" a href="/member/engineering">Faculty of Engineering</a>

                <a class="list-group-item list-group-item-action" a href="/member/science">Faculty of Science</a>

                <a class="list-group-item list-group-item-action" a href="/member/socialsciences">Faculty of Social Sciences</a>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
                Faculty of Arts
            </div>

            <div class="card-body">
                <h4 class="card-title" style=text-align:justify>Graduates of the Faculty of Arts have a wide range of opportunities after their
                    graduation, no matter for jobs or further studies. Some work in large institutions and companies,
                    while some pursue postgraduate studies.</h4>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 1. Business ***</h5>
                <div class="card-body">
                    <p class="card-text">(i) Bank officer</p>
                    <p class="card-text">(ii) China-HK trade officer</p>
                    <p class="card-text">(iii) Event management officer </p>
                    <p class="card-text">(iv) Marketing officer</p>
                    <p class="card-text">(v) Insurance officer</p>
                    <p class="card-text">(vi) Public relations managers</p>
                    <p class="card-text">(vii)Retailing</p>
                    <p class="card-text">(viii) Trading</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 2. Civil Services ***</h5>
                <div class="card-body">
                    <p class="card-text">(i) Court interpreters</p>
                    <p class="card-text">(ii) Civil servants</p>
                    <p class="card-text">(iii) Foreign diplomats</p>
                    <p class="card-text">(iv) Government translators</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 3. Culture ***</h5>
                <div class="card-body">
                    <p class="card-text">(i) Art gallery administrator</p>
                    <p class="card-text">(ii) Conductors</p>
                    <p class="card-text">(iii) Composers</p>
                    <p class="card-text">(iv) Culture events administrator</p>
                    <p class="card-text">(v) Ensemble directors</p>
                    <p class="card-text">(vi) Freelance musicans</p>
                    <p class="card-text">(vii) Lyricists</p>
                    <p class="card-text">(viii) Music editors/producers/supervisors</p>
                    <p class="card-text">(ix) Orchestrators</p>
                    <p class="card-text">(x) Performer-songwriters</p>
                    <p class="card-text">(xi) Religious-related social service agencies</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 4. Education ***</h5>
                <div class="card-body">
                    <p class="card-text">(i) Researcher</p>
                    <p class="card-text">(ii) Teacher</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 5. Media ***</h5>
                <div class="card-body">
                    <p class="card-text">(i) Editor</p>
                    <p class="card-text">(ii) Translator</p>
                    <p class="card-text">(iii) Media worker</p>
                    <p class="card-text">(iv) Public relations officer</p>
                    <p class="card-text">(v) Reporters</p>
                    <p class="card-text">(vi) TV programme host</p>
                    <p class="card-text">(vii) Writers</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 6. Service ***</h5>
                <div class="card-body">
                    <p class="card-text">(i) Flight attendent</p>
                    <p class="card-text">(ii) Public relations officer in hotel</p>
                    <p class="card-text">(iii) Executive officer in multinational food company</p>
                </div>
            </div>
            <p></p>
        </div>
    </div>
    </div>
