<div class="container">
    <div class="table">
        <div class="list-group">
            <tr>
                <td><a class="list-group-item list-group-item-action" a href="/member/cityu">City University of Hong
                        Kong (CityU) <img
                            src="https://upload.wikimedia.org/wikipedia/zh/thumb/e/ee/Logo_of_City_University_of_Hong_Kong_.svg/400px-Logo_of_City_University_of_Hong_Kong_.svg.png"
                            style="width:110px; height:80px"></a></td>

                <td> <a class="list-group-item list-group-item-action" a href="/member/hkbu">Hong Kong Baptist
                        University (HKBU) <img
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/HKBU_Logo.svg/440px-HKBU_Logo.svg.png"
                            style="width:80px; height:80px"></a></td>

                <td> <a class="list-group-item list-group-item-action" a href="/member/lingu">Lingnan University
                        (LingnanU) <img
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a9/LingnanUniversity_logo.svg/340px-LingnanUniversity_logo.svg.png"
                            style="width:80px; height:80px"></a></td>
        </div>
        </tr>

        <div class="list-group">
            <tr>
                <td> <a class="list-group-item list-group-item-action" a href="/member/cuhk">The Chinese University of
                        Hong Kong (CUHK) <img
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/8/87/CUHK.svg/400px-CUHK.svg.png"
                            style="width:100px; height:80px"></a></td>

                <td><a class="list-group-item list-group-item-action" a href="/member/eduhk">The Education University of
                        Hong Kong (EduHK) <img
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a3/EdUHK_seal.svg/320px-EdUHK_seal.svg.png"
                            style="width:70px; height:80px"></a></td>

                <td><a class="list-group-item list-group-item-action" a href="/member/polyu">The Hong Kong Polytechnic
                        University (PolyU) <img
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/5/52/PolyU.svg/340px-PolyU.svg.png"
                            style="width:80px; height:80px"></a></td>
        </div>
        </tr>

        <div class="list-group">
            <tr>
                <td><a class="list-group-item list-group-item-action" a href="/member/hkust">The Hong Kong University of
                        Science and Technology (HKUST) <img
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cd/UST.svg/240px-UST.svg.png"
                            style="width:50px; height:80px"></a></td>

                <td><a class="list-group-item list-group-item-action" a href="/member/hku">The University of Hong Kong
                        (HKU) <img
                            src="https://upload.wikimedia.org/wikipedia/en/5/5e/University_of_Hong_Kong_coat_of_arms.png"
                            style="width:80px; height:80px"></a></td>

                <td> <a class="list-group-item list-group-item-action" a href="/member/ouhk">The Open University of Hong
                        Kong (OUHK) <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/OUHK_logo_without_wordmark.svg/300px-OUHK_logo_without_wordmark.svg.png"
                            style="width:65px; height:80px"></a></td>
        </div>
        </tr>
    </div>
</div> 