<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/arts">Faculty of Arts</a>

                <a class="list-group-item list-group-item-action" a href="/member/architecture">Faculty of Architecture</a>

                <a class="list-group-item list-group-item-action active" a href="/member/business">Faculty of Business</a>

                <a class="list-group-item list-group-item-action" a href="/member/comm">Faculty of Communication</a>

                <a class="list-group-item list-group-item-action" a href="/member/engineering">Faculty of Engineering</a>

                <a class="list-group-item list-group-item-action" a href="/member/science">Faculty of Science</a>

                <a class="list-group-item list-group-item-action" a href="/member/socialsciences">Faculty of Social Sciences</a>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
                Faculty of Business
            </div>

            <div class="card-body">
                <h4 class="card-title" style=text-align:justify>Due to the wide range of knowledge involved in business administration, it can help young people create diversified development opportunities. Graduates of diploma exams with unclear progression or career goals can learn interest and explore personal career aspirations by studying this subject.</h4>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">1. iBank</h5>
                <div class="card-body">
                    <p class="card-text">- The salary is already high for fresh graduates.</p>
                    <p class="card-text">- Title name of the job is good.</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">2. Manager trainee in banks</h5>
                <div class="card-body">
                    <p class="card-text">- Good opportunity of promotion.</p>
                    <p class="card-text">- Enrich the personal CV.</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">3. Job is Big4 company</h5>
                <div class="card-body">
                    <p class="card-text">List of Big4 company:</p>
                    <p class="card-text">(a) PricewaterhouseCoopers(PWC)</p>
                    <p class="card-text">(b) Klynveld Peat Marwick Goerdeler(KPMG)</p>
                    <p class="card-text">(c) Deloitte Touche Tohmatsu Limited(DTTL)</p>
                    <p class="card-text">(d) Ernst & Young</p>
                </div>
            </div>
            <p></p>
            
            </div>
            </div>
            </div>