<div class="container">
    <div class="row">

    <div class="col-4">
<div class="list-group">

    <a class="list-group-item list-group-item-action" a href="/member/arts">Faculty of Arts</a>

    <a class="list-group-item list-group-item-action" a href="/member/architecture">Faculty of Architecture</a>

    <a class="list-group-item list-group-item-action" a href="/member/business">Faculty of Business</a>

    <a class="list-group-item list-group-item-action" a href="/member/comm">Faculty of Communication</a>

    <a class="list-group-item list-group-item-action" a href="/member/engineering">Faculty of Engineering</a>

    <a class="list-group-item list-group-item-action" a href="/member/science">Faculty of Science</a>

    <a class="list-group-item list-group-item-action" a href="/member/socialsciences">Faculty of Social Sciences</a>

  </div>
</div>

<div class="col">
    <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
        Editor's Word
    </div>

    <div class="card-body">
        <h4 class="card-title" style=text-align:justify>Every year there are many fresh graduates from different universities. Finding what kind of job is a main concern for them. They maybe confuse how to find a suitable job and worry about their future life. Here are some information about the possible jobs when the fresh graduates graduated from different faculties in universities.</h4>
        <p></p>
        <h4 class="card-title" style=text-align:justify>*** The introduction of career prospect will not conclude the professional subjects </h4>
        <h4 class="card-title">(Education: Teachers; Law: Lawyers; Medicine: Doctors/ Pharmacists; etc.)</h4>
        <h4 class="card-title"></h4>
    </div>
    <p></p>
    </div>

    </div>
    </div>
 