<div class="container">
    <div class="row">

        <div class="col-3">
            <div class="list-group">

                <a class="list-group-item list-group-item-action active" a href="/member/cityu">City University of Hong Kong (CityU) </a>

                <a class="list-group-item list-group-item-action" a href="/member/hkbu">Hong Kong Baptist University (HKBU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/lingu">Lingnan University (LingnanU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/cuhk">The Chinese University of Hong Kong (CUHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/eduhk">The Education University of Hong Kong (EduHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/polyu">The Hong Kong Polytechnic University (PolyU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hkust">The Hong Kong University of Science and Technology (HKUST)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hku">The University of Hong Kong (HKU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/ouhk">The Open University of Hong Kong (OUHK)</a>
            
                <p></p>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: x-large; color:darkcyan">
                The City University of Hong Kong (CityU) <img src="https://upload.wikimedia.org/wikipedia/zh/thumb/e/ee/Logo_of_City_University_of_Hong_Kong_.svg/400px-Logo_of_City_University_of_Hong_Kong_.svg.png" style="width:90px; height:60px">
            </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Vision</h5>
            <div class="card-body">
                    <p class="card-text" style=text-align:justify>City University of Hong Kong aspires to become a leading global university, excelling in research and professional education.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Mission</h5>

            <div class="card-body">
                    <p class="card-text" style=text-align:justify>To nurture and develop the talents of students and to create applicable knowledge in order to support social and economic advancement.</p>
                </div>
        </div>
        <p></p>
        

        <div class="card">
            <h5 class="card-header">Guiding Principles</h5>
            <div class="card-body">
                    <p class="card-text">1. Student success in academic achievement and career development</p>
                    <p class="card-text">2. Excellence in learning and research, technology innovation and knowledge transfer</p>
                    <p class="card-text">3. Benefit to the social and economic well-being of Hong Kong</p>
                    <p class="card-text">4. Accountability in the use of public resources</p>
                    <p class="card-text">5. Global outreach and international competitiveness</p>
                </div>
        </div>
        <p></p>

        </div>
        </div>
        </div>