<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/arts">Faculty of Arts</a>

                <a class="list-group-item list-group-item-action " a href="/member/architecture">Faculty of Architecture</a>

                <a class="list-group-item list-group-item-action" a href="/member/business">Faculty of Business</a>

                <a class="list-group-item list-group-item-action active" a href="/member/comm">Faculty of Communication</a>

                <a class="list-group-item list-group-item-action" a href="/member/engineering">Faculty of Engineering</a>

                <a class="list-group-item list-group-item-action" a href="/member/science">Faculty of Science</a>

                <a class="list-group-item list-group-item-action" a href="/member/socialsciences">Faculty of Social Sciences</a>

            </div>
        </div>

        <div class="col">

            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
                Faculty of Communication
            </div>

            <div class="card-body">
                <h4 class="card-title" style=text-align:justify>
                    As technology advances with each passing day, communication continues to innovate. In addition to the left text, images and advertisements, Zhongyou creative media is also the same as new media. The more types of communication, the more opportunities for students in the Department of Communication , And my family has a lot of jobs suitable for agents.</h4>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">1. Interview Reporter</h5>

                <div class="card-body" style=text-align:justify>
                    <p class="card-text">Usually when you think of interviewing reporters, you will think of the "paparazzi". In fact, there are many types of reporters. In addition to Zuo Entertainment's gossip magazine, they interview reporters, and occasionally interview reporters. There are financial interviews with reporters, and focus on political and economic news. Sports will closely track the same sports news. The media needs a lot of keen senses to search for the latest and first-person news in order to keep themselves up to date and competitive.</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">2. Editor / Text Reporter</h5>

                <div class="card-body" style=text-align:justify>
                    <p class="card-text">Although modern technology is becoming more and more important, and the demand for the transmission of text information may be low, the most traditional text is still the most important medium in information transmission, because the objectivity and accuracy of text can make the most accurate information Spreading the masses, it has always been the mainstay of mass media, which may be different in form. For example, paper media magazines have declined, but then online media, electronic magazines, and online news all require text to spread information.</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">3. Advertising Designer / Copywriter</h5>

                <div class="card-body" style=text-align:justify>
                    <p class="card-text">Products and services are more effectively promoted than customers, and even to the establishment of a company brand, etc. It is more marketing and irrelevant. No matter the text or image is set, there are many skills related to communication studies. </p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">4. Television Reporter</h5>

                <div class="card-body" style=text-align:justify>
                    <p class="card-text">A majority of the students of communication, most of them are working behind the scenes such as editing, correcting, writing, etc., and need to be photographed.</p>
                </div>
            </div>
            <p></p>  

            <div class="card">
                <h5 class="card-header">5. Radio Anchor</h5>

                <div class="card-body" style=text-align:justify>
                    <p class="card-text">- RTHK</p>
                    <p class="card-text">- Metro Radio</p>
                    <p class="card-text">- Commercial Radio Hong Kong (881, 903)</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">6. Industry of Film and television entertainment</h5>

                <div class="card-body" style=text-align:justify>
                    <p class="card-text">- The demand for this type of creative media is rising rapidly.</p>
                    <p class="card-text">- Director, art director, filming, editing, screenwriting</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">7. PR</h5>

                <div class="card-body" style=text-align:justify>
                    <p class="card-text">Public relations is an extension of communication, focusing on the professional ability to communicate with the media. The purpose of marketing is to increase product sales and improve customer satisfaction, to achieve the goal of understanding and trust between the organization and the relevant public, and to achieve the company's highest goals. Being a PR should be understand both communication skills and understanding of mass psychology.</p>
                </div>
            </div>
            <p></p>

            </div>
            </div>
            </div>