<div class="container">
    <div class="row">

    <div class="col-4">
<div class="list-group">

    <a class="list-group-item list-group-item-action" a href="/member/jupas">JUPAS Information </a>

    <a class="list-group-item list-group-item-action" a href="/member/gov">Governance of JUPAS</a>

    <a class="list-group-item list-group-item-action" a href="/member/notes">Important Notes</a>

    <a class="list-group-item list-group-item-action" a href="/member/security">About Security</a>

    <a class="list-group-item list-group-item-action active" a href="/member/contact">Contact Us</a>

  </div>
</div>

<div class="col">

    <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
        Contact Us
    </div>
    <p></p>

    <div class="card">
        <h5 class="card-header">(I) Communication Channel</h5>
        <div class="card-body">
                <p class="card-text" style=text-align:justify>The JUPAS Office, the 9 JUPAS participating-institutions and the SSSDP institutions will contact applicants via one or more of the following channels:</p>
                <p class="card-text">1. Phone (home and mobile■)</p>
                <p class="card-text">2. Personal email#^</p>
                <p class="card-text">3. SMS■^</p>
                <p class="card-text">4. Mail■</p>
                <p class="card-text">5. The message boxes in applicants' JUPAS accounts.</p>
                <p class="card-text" style=text-align:justify>■ Since important messages and correspondence from the JUPAS Office, the 9 JUPAS participating-institutions and the SSSDP institutions will be sent via applicants' mobile phone numbers and / or mailing addresses, applicants SHOULD NEVER share their mobile phone numbers or mailing addresses with other applicants in order to protect any information related to their JUPAS applications.</p>
                <p class="card-text" style=text-align:justify># As email is one of the channels that the JUPAS Office, the 9 JUPAS participating-institutions and the SSSDP institutions will use to communicate with applicants, applicants must ensure that the setting of their personal email accounts will not filter out or place such correspondence in the trash / junk bins.</p>
                <p class="card-text" style=text-align:justify>^ Emails and SMS are delivered via third party network providers and therefore the JUPAS Office is not responsible for any delay, loss, transfer, amendment or damage arising from the transmission process via third party network providers.</p>
                <p class="card-text" style=text-align:justify>Should there be any discrepancies between information contained in emails and SMS and applicants' JUPAS accounts, the information contained in the latter (i.e. the JUPAS accounts) is final.</p>
                <p class="card-text" style=text-align:justify>Applicants are strongly advised to log on their JUPAS accounts to double-check the related information.</p>
            </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(II) Details about JUPAS Office</h5>
    <div class="card-body">
            <p class="card-text">Office Address: UG-02 Knowles Building, The University of Hong Kong, Pokfulam, Hong Kong</p>
            <p class="card-text">Office Hours:</p>
            <div class="col">
                <p class="card-text" style="color:crimson">(a) Mondays to Fridays: 9:00 am – 1:00 pm / 2:00 pm – 5:00 pm</p>
                <p class="card-text" style="color:crimson">(b) Saturdays: 9:00 am – 12:30 pm</p>
                <p class="card-text" style="color:crimson">(c) Sundays, Public Holidays and HKU Holidays: CLOSED</p>
            </div>
            <p></p>
           
            <p class="card-text">24-hour Interactive Voice Response System (IVRS): 2334 2330</p>
            <p class="card-text">Enquiry Hotline: 2334 2929 / 2233 2929 (Office Hours)</p>
            <p class="card-text">Fax: 2858 4825</p>
            <p class="card-text">Email: info@jupas.edu.hk</p>
        </div>
</div>
<p></p>
    </div>
</div>
</div>