<div class="container">
    <div class="row">

        <div class="col-3">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/cityu">City University of Hong Kong (CityU) </a>

                <a class="list-group-item list-group-item-action" a href="/member/hkbu">Hong Kong Baptist University (HKBU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/lingu">Lingnan University (LingnanU)</a>

                <a class="list-group-item list-group-item-action active" a href="/member/cuhk">The Chinese University of Hong Kong (CUHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/eduhk">The Education University of Hong Kong (EduHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/polyu">The Hong Kong Polytechnic University (PolyU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hkust">The Hong Kong University of Science and Technology (HKUST)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hku">The University of Hong Kong (HKU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/ouhk">The Open University of Hong Kong (OUHK)</a>
            
                <p></p>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: x-large; color:darkcyan">
                The Chinese University of Hong Kong (CUHK) <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/87/CUHK.svg/400px-CUHK.svg.png" style="width:80px; height:60px">
            </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Vision</h5>
            <div class="card-body">
                    <p class="card-text" style=text-align:justify>To be acknowledged locally, nationally and internationally as a first-class comprehensive research university whose bilingual and multicultural dimensions of student education, scholarly output and contribution to the community consistently meet standards of excellence.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Mission</h5>

            <div class="card-body">               
                    <p class="card-text" style=text-align:justify>To assist in the preservation, creation, application and dissemination of knowledge by teaching, research and public service in a comprehensive range of disciplines, thereby serving the needs and enhancing the well-being of the citizens of Hong Kong, China as a whole, and the wider world community.</p> 
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Motto</h5>
            <div class="card-body">
                    <p class="card-text">The motto of the University is '博文約禮' or 'Through learning and temperance to virtue'.</p>
                    <p class="card-text" style=text-align:justify>These words of Confucius have long been considered a principal precept of his teaching. It is recorded in the Analects of Confucius that the Master says, 'The superior man, extensively studying all learning, and keeping himself under the restraint of the rules of propriety, may thus likewise not overstep what is right.' (Legge's version of the Four Books)</p>
                    <p class="card-text" style=text-align:justify>In choosing '博文約禮' as its motto, the University is laying equal emphasis on the intellectual and moral aspects of education.</p>
                </div>
        </div>
        <p></p>
</div>
</div>
</div>