<div class="container">
    <div class="row">

        <div class="col-3">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/cityu">City University of Hong Kong (CityU) </a>

                <a class="list-group-item list-group-item-action" a href="/member/hkbu">Hong Kong Baptist University (HKBU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/lingu">Lingnan University (LingnanU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/cuhk">The Chinese University of Hong Kong (CUHK)</a>

                <a class="list-group-item list-group-item-action active" a href="/member/eduhk">The Education University of Hong Kong (EduHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/polyu">The Hong Kong Polytechnic University (PolyU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hkust">The Hong Kong University of Science and Technology (HKUST)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hku">The University of Hong Kong (HKU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/ouhk">The Open University of Hong Kong (OUHK)</a>
            
                <p></p>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: x-large; color:darkcyan">
                The Education University of Hong Kong (EduHK) <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a3/EdUHK_seal.svg/320px-EdUHK_seal.svg.png" style="width:50px; height:60px">
            </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Vision</h5>
            <div class="card-body">
                    <p class="card-text" style=text-align:justify>We will further enhance our role as a leading university in the Asia Pacific region and beyond, with a focus on educational research, development and innovation. We will continue to raise our profile and impact locally, regionally and internationally through our high quality research and scholarship. We are committed to nurturing outstanding and caring educators and professionals who contribute constructively to sustainable social and economic development in Hong Kong and beyond.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Mission</h5>

            <div class="card-body">               
                    <p class="card-text" style=text-align:justify>Committed to the Education-plus approach, our primary mission is to lead educational innovation, and to promote and support the strategic development of teaching, teacher education and disciplines complementary to education by preparing outstanding and morally responsible educators and professionals while supporting their lifelong learning.</p> 
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Core Values</h5>
            <div class="card-body">
                    <p class="card-text">> Professionalism</p>
                    <p class="card-text">> Innovation</p>
                    <p class="card-text">> Moral responsibility</p>
                    <p class="card-text">> Societal caring</p>
                    <p class="card-text">> Global awareness</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">The Aim</h5>

            <div class="card-body">               
                    <p class="card-text" style=text-align:justify>> Provide a multidisciplinary learning and research environment beyond education that is conducive to intellectual pursuits, free thinking and speech, advocacy of policy and practice, and the promotion of collaboration and diversity</p>
                    <p class="card-text" style=text-align:justify>> Enhance professional teacher and teaching education programmes and programmes in disciplines complementary to education with innovative curricula which will enrich students’ experiences and enable them to realise their personal potential as well as their educational and career goals</p> 
                    <p class="card-text" style=text-align:justify>> Prepare our students to become educators and professionals who can integrate theory and practice, and who are creative, innovative, intellectually active, entrepreneurial, socially caring and globally aware</p>
                    <p class="card-text" style=text-align:justify>> Foster a vibrant research culture and environment which contributes to the advancement of knowledge, scholarship and innovation, with a sustainable impact on social progress and human betterment</p>
                    <p class="card-text" style=text-align:justify>> Engage in knowledge transfer activities which contribute to the development of the University and the wider community while serving the needs of educational and social development locally, regionally and internationally.</p>
                </div>
        </div>
        <p></p>

        </div>
        </div>
        </div>