<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/arts">Faculty of Arts</a>

                <a class="list-group-item list-group-item-action" a href="/member/architecture">Faculty of Architecture</a>

                <a class="list-group-item list-group-item-action" a href="/member/business">Faculty of Business</a>

                <a class="list-group-item list-group-item-action" a href="/member/comm">Faculty of Communication</a>

                <a class="list-group-item list-group-item-action active" a href="/member/engineering">Faculty of Engineering</a>

                <a class="list-group-item list-group-item-action" a href="/member/science">Faculty of Science</a>

                <a class="list-group-item list-group-item-action" a href="/member/socialsciences">Faculty of Social Sciences</a>

            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
                Faculty of Engineering
            </div>

            <div class="card-body">
                <h4 class="card-title" style=text-align:justify>Every industry and every area of society depends on the precise and efficient work of engineers. These guys provide technological solutions to the problems, issues and ideas that affect every area of our lives. They design, manufacture and maintain almost everything people and industries use, from computers, spacecraft and boats to corkscrews, buildings and chemical reactors. Technological advances would never happen without engineers. Consequently, the people who work in this sector are massively important in developing the future of our society.</h4>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 1. Engineer in specific category ***</h5>

                <div class="card-body">
                    <p class="card-text">(i) Civil engineering: Mainly used to build bridges, roads and tunnels, with the highest pass rate, mainly depending on the number of government infrastructure projects.</p>
                    <p class="card-text">(ii) Structure Engineering: It is mainly about the structure of the building and the field of mechanics, There is many calucaltion, and the pass rate is medium.</p>
                    <p class="card-text">(iii) Geotechnical Engineering: Mainly for excavation of retaining walls, etc., the pass rate is the lowest, so they are also the most valuable.</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 2. Government trainee engineer ***</h5>

                <div class="card-body">
                    <p class="card-text">Special requirements:</p>
                    <p class="card-text">- Six months of special training in geology, site exploration and testing in the laboratory.</p>
                    <p class="card-text">- Twelve months of site experience.</p>
                    <p class="card-text">- Twelve months of office design experience.</p>
                    <p class="card-text">- Six months of in-depth technical and management responsibility training (may require internships with domestic government agencies)</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 3. Consultant company ***</h5>

                <div class="card-body">
                    <p class="card-text">- The main business of the consultancy company is more design, such as the small houses in the village, and many times it is the private consultancy company to do the design and bury the project.</p>
                    <p class="card-text">- Most of the work of the consulting company is more theoretical.</p>
                    <p class="card-text">- It is more suitable for fresh grad to do, because a lot of concepts have been forgotten after being left for a few years.</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 4. Construction company ***</h5>

                <div class="card-body">
                    <p class="card-text">- If you don’t like to sit in the office, it may be more suitable for you to join the construction company.</p>
                    <p class="card-text">- There is a good chance that they will manage the documents and environment on the site. It will also have more opportunities to deal with others.</p>
                    <p class="card-text">- It is more difficult to get a license for a contracting company due to the lack of comprehensive training.</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 5. Property developers ***</h5>

                <div class="card-body">
                    <p class="card-text">- New properties are launched every year, including private properties and luxury properties. Therefore, the industry is required more this type of professionals.</p>
                    <p class="card-text">- Related to design of drawings</p>
                    <p class="card-text">- Frontline related work to deal with each others.</p>
                </div>
            </div>
            <p></p>

            </div>
            </div>
            </div>