<div class="container">
<div class="row">
    
    <div class="col-sm">
                <div class="input-group mb-3">
                <div class="card text-white bg-success mb-3" style="width: 18rem;">
                    <img src="https://newsstatic.rthk.hk/images/mfile_1494312_1_L_20191126101856.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">JUPAS Information</h5>
                      <p class="card-text">Click here to know more about JUPAS System</p>
                    </div>                      
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="/member/jupas">Click Here >>></a></li> 
                    </ul>
                </div>
                  </div>
    </div>

                  <div class="col-sm">
                <div class="input-group mb-3">
                <div class="card text-white bg-danger mb-3" style="width: 18rem;">
                    <img src="https://cdn.thestandnews.com/media/photos/cache/vote-02_zi7AA_1200x0.png" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">School Briefing</h5>
                      <p class="card-text">Get to know the background of different universities. Choose the suitable one.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="/member/brief">Click Here >>></a></li>
                    </ul>

                  </div>
                </div>
                  </div>

                  <div class="col-sm">
                <div class="input-group mb-3">
                <div class="card text-white bg-warning mb-3" style="width: 18rem;">
                    <img src="https://i.pinimg.com/originals/5a/44/89/5a4489439df42f35b13574dcfcac1bad.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Career Prospect</h5>
                      <p class="card-text">Start to plan your career from now on!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="/member/career">Click Here >>></a></li>
                    </ul>

                  </div>
                </div>
                </div>

               </div>
               </div> 

          