<div class="container">
    <div class="row">

    <div class="col-4">
<div class="list-group">

    <a class="list-group-item list-group-item-action" a href="/member/jupas">JUPAS Information </a>

    <a class="list-group-item list-group-item-action active" a href="/member/gov">Governance of JUPAS</a>

    <a class="list-group-item list-group-item-action" a href="/member/notes">Important Notes</a>

    <a class="list-group-item list-group-item-action" a href="/member/security">About Security</a>

    <a class="list-group-item list-group-item-action" a href="/member/contact">Contact Us</a>

  </div>
</div>

<div class="col">
    <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
        Governance of JUPAS
    </div>
<p></p>

    <div class="card">
        <h5 class="card-header">(I) JUPAS Board of Management</h5>
        <div class="card-body">
                <p class="card-text" style=text-align:justify>JUPAS is managed by a Board of Management which comprises 16 Directors, 2 from each of the 8 JUPAS member-institutions (viz. CityU, HKBU, LingnanU, CUHK, EdUHK, PolyU, HKUST and HKU).</p>
                <p class="card-text" style=text-align:justify>Its main responsibilities are to devise, establish and develop policies and strategies for the scheme, to monitor and supervise its operation, and to review from time to time any policies and strategies, and its operation.</p>
            </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(II) Committee on JUPAS Operations</h5>
    <div class="card-body">
            <p class="card-text" style=text-align:justify>The Committee on JUPAS Operations was set up by the JUPAS Board of Management in 1990.  It comprises 1 representative from each JUPAS member-institution (viz. CityU, HKBU, LingnanU, CUHK, EdUHK, PolyU, HKUST and HKU) and from the JUPAS Office.</p>
            <p class="card-text" style=text-align:justify>Its main duties are to advise the Board of Management on the development of the scheme and to decide on the operational details of the scheme in accordance with guidelines and policies laid down by the Board of Management.</p>
        </div>
</div>
<p></p>
</div>
</div>
</div>

