<div class="container">
    <div class="row">

        <div class="col-3">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/cityu">City University of Hong Kong (CityU) </a>

                <a class="list-group-item list-group-item-action active" a href="/member/hkbu">Hong Kong Baptist University (HKBU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/lingu">Lingnan University (LingnanU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/cuhk">The Chinese University of Hong Kong (CUHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/eduhk">The Education University of Hong Kong (EduHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/polyu">The Hong Kong Polytechnic University (PolyU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hkust">The Hong Kong University of Science and Technology (HKUST)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hku">The University of Hong Kong (HKU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/ouhk">The Open University of Hong Kong (OUHK)</a>
            
                <p></p>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: x-large; color:darkcyan">
                The Hong Kong Baptist University (HKBU) <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/HKBU_Logo.svg/440px-HKBU_Logo.svg.png" style="width:60px; height:60px">
            </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Vision</h5>
            <div class="card-body">
                    <p class="card-text" style=text-align:justify>To be a leading liberal arts University in Asia for the world delivering academic excellence in a caring, creative and global culture.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Mission</h5>

            <div class="card-body">
                
                    <p class="card-text" style=text-align:justify>HKBU is committed to academic excellence in teaching, research and service, and to the development of the whole person in all these endeavours built upon the heritage of Christian higher education.</p>
                    <p class="card-text" style=text-align:justify>Today HKBU encompasses eight Faculties/Schools offering a range of undergraduate programmes, associate degree and higher diploma programmes as well as taught postgraduate programmes and research postgraduate programmes leading to the award of master and doctoral degrees.</p>

                
                </div>
        </div>
        <p></p>

        </div>
        </div>
        </div>