<div class="container">
    <div class="row">

        <div class="col-3">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/cityu">City University of Hong Kong (CityU) </a>

                <a class="list-group-item list-group-item-action" a href="/member/hkbu">Hong Kong Baptist University (HKBU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/lingu">Lingnan University (LingnanU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/cuhk">The Chinese University of Hong Kong (CUHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/eduhk">The Education University of Hong Kong (EduHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/polyu">The Hong Kong Polytechnic University (PolyU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hkust">The Hong Kong University of Science and Technology (HKUST)</a>

                <a class="list-group-item list-group-item-action active" a href="/member/hku">The University of Hong Kong (HKU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/ouhk">The Open University of Hong Kong (OUHK)</a>
            
                <p></p>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: x-large; color:darkcyan">
                The University of Hong Kong (HKU) <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/University_of_Hong_Kong_coat_of_arms.png" style="width:60px; height:60px">
            </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Vision</h5>
            <div class="card-body">
                    <p class="card-text" style=text-align:justify>The University of Hong Kong, Asia’s Global University, delivers impact through internationalisation, innovation and interdisciplinarity.  It attracts and nurtures global scholars through excellence in research, teaching and learning, and knowledge exchange.  It makes a positive social contribution through global presence, regional significance and engagement with the rest of China.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Mission</h5>

            <div class="card-body">
                
                    <p class="card-text" style=text-align:justify>> To advance constantly the bounds of scholarship, building upon its proud traditions and strengths.</p>
                    <p class="card-text" style=text-align:justify>> To provide a comprehensive education, benchmarked against the highest international standards, designed to develop fully the intellectual and personal strengths of its students, while extending lifelong learning opportunities for the community.</p>
                    <p class="card-text" style=text-align:justify>> To produce graduates of distinction committed to academic/professional excellence, critical intellectual inquiry and lifelong learning, who are communicative and innovative, ethically and culturally aware, and capable of tackling the unfamiliar with confidence.</p>
                    <p class="card-text" style=text-align:justify>> To develop a collegial, flexible, pluralistic and supportive intellectual environment that inspires and attracts, retains and nurtures scholars, students and staff of the highest calibre in a culture that fosters creativity, learning and freedom of thought, enquiry and expression.</p>
                    <p class="card-text" style=text-align:justify>> To provide a safe, healthy and sustainable workplace to support and advance teaching, learning and research at the University.</p>
                    <p class="card-text" style=text-align:justify>> To engage in innovative, high-impact and leading-edge research within and across disciplines.</p>
                    <p class="card-text" style=text-align:justify>> To be fully accountable for the effective management of public and private resources bestowed upon the institution and act in partnership with the community over the generation, dissemination and application of knowledge.</p>
                    <p class="card-text" style=text-align:justify>> To serve as a focal point of intellectual and academic endeavour in Hong Kong, China and Asia and act as a gateway and forum for scholarship with the rest of the world.</p>
                
                </div>
        </div>
        <p></p>

        </div>
        </div>
        </div>