<div class="container">
    <div class="row">

        <div class="col-3">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/cityu">City University of Hong Kong (CityU) </a>

                <a class="list-group-item list-group-item-action" a href="/member/hkbu">Hong Kong Baptist University (HKBU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/lingu">Lingnan University (LingnanU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/cuhk">The Chinese University of Hong Kong (CUHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/eduhk">The Education University of Hong Kong (EduHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/polyu">The Hong Kong Polytechnic University (PolyU)</a>

                <a class="list-group-item list-group-item-action active" a href="/member/hkust">The Hong Kong University of Science and Technology (HKUST)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hku">The University of Hong Kong (HKU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/ouhk">The Open University of Hong Kong (OUHK)</a>
            
                <p></p>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: x-large; color:darkcyan">
                The Hong Kong University of Science and Technology (HKUST) <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cd/UST.svg/240px-UST.svg.png" style="width:35px; height:60px">
            </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Vision</h5>
            <div class="card-body">
                    <p class="card-text" style=text-align:justify>To be a leading university with significant international impact and strong local commitment.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Mission</h5>

            <div class="card-body">
                
                    <p class="card-text">To advance learning and knowledge through teaching and research, particularly:</p>
                    <p class="card-text"> – In science, technology, engineering, management and business studies</p>
                    <p class="card-text"> – at the postgraduate level</p>
                    <p class="card-text">To assist in the economic and social development of Hong Kong.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Core Values</h5>

            <div class="card-body">
                
                    <b><p class="card-title">Excellence, Integrity, and Academic Freedom</p></b>
                    <p class="card-text" style=text-align:justify>The University is committed to being a leader in academic world through excellence in teaching, research and people, while placing utmost value on the freedom to conduct academic activities, subject to the highest standards of academic integrity and honesty.</p>
                    
                    <b><p class="card-title">Global Vision and Local Commitment</p></b>
                    <p class="card-text" style=text-align:justify>The University positions itself as a focused elite research university at the cutting edge in all target fields of pursuit with global influence. We bring together global thought leaders to foster interaction, and partner with government, business and industry, to make significant contribution to the economic and social development both locally and nationally. In addition, we encourage and commend our faculty, staff and students to dedicate themselves to service to the local community.</p>

                    <b><p class="card-title">Can-do Spirit</p></b>
                    <p class="card-text" style=text-align:justify>The University stands for the can-do spirit with responsibility and integrity. We cherish entrepreneurial and innovative thinking for solutions to problems in daily work. We cultivate a community characterized by the traits of risk-taking, willingness to overcome challenges, innovativeness, creativeness, and trust in oneself. This also implies that the University provides an environment for students and faculty to pursue entrepreneurship.</p>

                    <b><p class="card-title">Inclusiveness, Diversity, and Respect</p></b>
                    <p class="card-text" style=text-align:justify>The University values and respects the differences of individuals, whether they are of different race, gender, cultural backgrounds, religion, personal interests and in other dimensions, and strives to embrace these diverse forces to foster an inclusive and caring environment. This will allow us to harness the richness of ideas and perspectives for the benefit of the whole community.</p>
                
                    <b><p class="card-title">1-HKUST</p></b>
                    <p class="card-text" style=text-align:justify>The entire HKUST family work together as an integrated and holistic team. By bringing together different ideas and roles of our people (students, faculty, staff, alumni, Council/Court, and friends of HKUST) and strengths of different academic and professional disciplines, we strive to make the whole of our university’s mission bigger than the sum of its parts.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Objectives</h5>

            <div class="card-body">
                
                   <b><p class="card-title">Students</p></b>
                   <p class="card-text" style=text-align:justify>To give all students, undergraduate and postgraduate alike, a broadly based University experience that includes: superior training in their chosen fields of study; a well-rounded education that enhances the development of their creativity, critical thinking, global outlook, and cultural awareness; a campus life that prepares them to be community leaders and lifelong learners.</p>

                   <b><p class="card-title">Faculty and Staff</p></b>
                   <p class="card-text" style=text-align:justify>To provide a dynamic and supportive work environment in which faculty and staff may continually develop intellectually and professionally.</p>

                   <b><p class="card-title">Research</p></b>
                   <p class="card-text" style=text-align:justify>To be a leading institution for research and postgraduate study, pursuing knowledge in both fundamental and applied areas, and collaborating closely with business and industry in promoting technological innovation and economic development.</p>

                   <b><p class="card-title">Campus Culture</p></b>
                   <p class="card-text" style=text-align:justify>To provide an open environment and atmosphere conducive to the exchange of knowledge, views, and innovative ideas among students, faculty, staff, and visiting scholars.</p>

                   <b><p class="card-title">Commitment to Hong Kong</p></b>
                   <p class="card-text" style=text-align:justify>To promote and assist in Hong Kong’s economic and social development, and to enrich Hong Kong’s culture.</p>
                </div>
        </div>
        <p></p>
        </div>
        </div>
        </div>