<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="list-group">

                <a class="list-group-item list-group-item-action active" a href="/member/jupas">JUPAS Information </a>

                <a class="list-group-item list-group-item-action" a href="/member/gov">Governance of JUPAS</a>

                <a class="list-group-item list-group-item-action" a href="/member/notes">Important Notes</a>

                <a class="list-group-item list-group-item-action" a href="/member/security">About Security</a>

                <a class="list-group-item list-group-item-action" a href="/member/contact">Contact Us</a>

            </div>
        </div>

        <div class="col">


            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
                Introduction
            </div>
            <div class="card-body">
                <h4 class="card-title" style=text-align:justify>Joint University Programmes Admissions System (JUPAS) is a scheme and the main
                    route of application designed to assist local students with Hong Kong Diploma of Secondary Education
                    (HKDSE) Examination results (past and / or current) to apply for admission to the following
                    programmes:</h4>
            </div>


            <div class="card">
                <h5 class="card-header">(I) University Grants Committee (UGC)-funded Programmes</h5>
                <div class="card-body">          
                        <p class="card-text">1. UGC-funded full-time bachelor's degree programmes offered by the
                            following 8 UGC-funded institutions:</p>

                       <div style="padding:10px"><a class="btn btn-outline-success" href="https://www.cityu.edu.hk/">(a) City University of Hong Kong (CityU)</a></div>
                       <div style="padding:10px"><a class="btn btn-outline-success" href="https://www.hkbu.edu.hk/eng/main/index.jsp">(b) Hong Kong Baptist University (HKBU)</a></div>
                       <div style="padding:10px"><a class="btn btn-outline-success" href="https://www.ln.edu.hk/">(c) Lingnan University (LingnanU)</a></div>
                       <div style="padding:10px"><a class="btn btn-outline-success" href="http://www.cuhk.edu.hk/chinese/index.html">(d) The Chinese University of Hong Kong (CUHK)</a></div>
                       <div style="padding:10px"><a class="btn btn-outline-success" href="https://www.eduhk.hk/main/">(e) The Education University of Hong Kong (EdUHK)</a></div>
                       <div style="padding:10px"><a class="btn btn-outline-success" href="https://www.polyu.edu.hk/">(f) The Hong Kong Polytechnic University (PolyU)</a></div>
                       <div style="padding:10px"><a class="btn btn-outline-success" href="https://www.ust.hk/">(g) The Hong Kong University of Science and Technology (HKUST)</a></div>
                       <div style="padding:10px"><a class="btn btn-outline-success" href="https://www.hku.hk/">(h) The University of Hong Kong (HKU)</a></div>
                
                      <h4></h4>
                    <p class="card-text">2. UGC-funded full-time associate degree programmes offered by CityU;</p>
                    <p class="card-text">3. UGC-funded full-time higher diploma programme offered by EdUHK;</p>
                    <p class="card-text">4. UGC-funded full-time higher diploma programmes offered by PolyU;</p>
                </div>
            </div>
<p></p>

            <div class="card">
                <h5 class="card-header">(II) Self-financing Programmes</h5>
                <div class="card-body">
                    <p class="card-text">5. Self-financing full-time bachelor's degree programmes offered by The Open
                        University of Hong Kong (OUHK)</p>
                </div>
            </div>
<p></p>

            <div class="card">
                <h5 class="card-header">(III) Study Subsidy Scheme for Designated Professions / Sectors (SSSDP) Programmes</h5>
                <div class="card-body">
                    <p class="card-text">6. SSSDP full-time bachelor's degree programmes offered by the SSSDP
                        institutions.</p>
                </div>
            </div>
<p></p>

        </div>
    </div>
</div> 