<div class="container">
    <div class="row">

        <div class="col-3">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/cityu">City University of Hong Kong (CityU) </a>

                <a class="list-group-item list-group-item-action" a href="/member/hkbu">Hong Kong Baptist University (HKBU)</a>

                <a class="list-group-item list-group-item-action active" a href="/member/lingu">Lingnan University (LingnanU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/cuhk">The Chinese University of Hong Kong (CUHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/eduhk">The Education University of Hong Kong (EduHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/polyu">The Hong Kong Polytechnic University (PolyU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hkust">The Hong Kong University of Science and Technology (HKUST)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hku">The University of Hong Kong (HKU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/ouhk">The Open University of Hong Kong (OUHK)</a>
            
                <p></p>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: x-large; color:darkcyan">
                Lingnan University (LingnanU) <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a9/LingnanUniversity_logo.svg/340px-LingnanUniversity_logo.svg.png" style="width:60px; height:60px">
            </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Vision</h5>
            <div class="card-body">
                    <p class="card-text" style=text-align:justify>To excel as a leading Asian liberal arts university with international recognition, distinguished by outstanding teaching, learning, scholarship and community engagement.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Mission</h5>

            <div class="card-body">
                
                    <p class="card-text" style=text-align:justify>Providing quality whole-person education by combining the best of the Chinese and Western liberal arts traditions.</p>
                    <p class="card-text">Nurturing students to achieve all-round excellence and imbuing them with its core values.</p>
                    <p class="card-text" style=text-align:justify>Encouraging faculty and students to contribute to society through original research and knowledge transfer.</p>    
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Motto</h5>
            <div class="card-body">
                    <p class="card-text">Education for service</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Core Values</h5>
            <div class="card-body">
                    <b><p class="card-title" style="font-size: large">(i) A collegial community of learning and discovery for students and scholar-teachers</p></b>
                    <p class="card-text" style=text-align:justify>Lingnan aims to build a community of learning and discovery with collegial students and scholar-teachers who respect each other, keep an open mind, embrace diversity, appreciate different views, uphold academic freedom and freedom of expression, and accept responsibility for their words and deeds.</p>

                    <b><p class="card-title" style="font-size: large">(ii) Whole-person cultivation and all-round development</p></b>
                    <p class="card-text" style=text-align:justify>Lingnan endeavours to cultivate students’ whole-person and all-round growth. It encourages students to pursue independent and critical thinking, creativity and innovation, excellent communication skills including a high level of literacy, social responsibility, personal virtue, cultural accomplishment and a passion for lifelong learning.</p>

                    <b><p class="card-title" style="font-size: large">(iii) Community engagement and social responsibility</p></b>
                    <p class="card-text" style=text-align:justify>Lingnan encourages its members to care for others, to be responsible for their own actions, to serve the local community and beyond, and to make a positive impact for the betterment of humanity.</p>

                    <b><p class="card-title" style="font-size: large">(iv) The Lingnan spirit</p></b>
                    <p class="card-text" style=text-align:justify>The Lingnan spirit, which has flourished since Lingnan’s founding in Canton (Guangzhou) in 1888 as Christian College in China, has served over the years to bond all Lingnanians together, and continues to inspire the University today. The Lingnan spirit is marked by passion, loyalty, perseverance, openness to different ideas and cultures, and a readiness to serve.</p>
                </div>
        </div>
        <p></p>

        </div>
        </div>
        </div>