<div class="container">
    <div class="row">

    <div class="col-4">
<div class="list-group">

    <a class="list-group-item list-group-item-action" a href="/member/jupas">JUPAS Information </a>

    <a class="list-group-item list-group-item-action" a href="/member/gov">Governance of JUPAS</a>

    <a class="list-group-item list-group-item-action active" a href="/member/notes">Important Notes</a>

    <a class="list-group-item list-group-item-action" a href="/member/security">About Security</a>

    <a class="list-group-item list-group-item-action" a href="/member/contact">Contact Us</a>

  </div>
</div>

<div class="col">
    <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
        Important Notes
        </div>
        <p></p>


    <div class="card">
        <h5 class="card-header">(I) Actual Priority of Programme Choices</h5>
        <div class="card-body">
                <p class="card-text" style=text-align:justify>The 9 JUPAS participating-institutions and the SSSDP institutions have NO ACCESS to individual applicants' actual priority of programme choices until after the announcement of the Main Round offer results.</p>
                <p class="card-text">Please refer to the section on Actual Priority of Programme Choices.</p>
            </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(II) Agreement among the 9 JUPAS Participating-institutions and the SSSDP Institutions on Modification of Programme Choices</h5>
    <div class="card-body">  
            <p class="card-text" style=text-align:justify>To ensure that JUPAS remains a fair and objective system for applicants, official advice in relation to programme selection (including interviews, direct, telephone or digital communication with applicants, programme counselling, formal / informal contacts with applicants, etc.) will NOT be given by the 9 JUPAS participating-institutions and the SSSDP institutions during the period between the release of the HKDSE Examination results and the deadline for modification of programme choices (i.e. 15 July – 18 July 2020*), regardless of who initiates the approach.</p>
            <p class="card-text" style=text-align:justify>All enquiries in relation to the 9 JUPAS participating-institutions' and the SSSDP institutions' programme information should be directed to the respective institutions on or BEFORE 14 July 2020*.</p>
        </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(III) Special Considerations</h5>
    <div class="card-body">
            <p class="card-text" style=text-align:justify>The 9 JUPAS participating-institutions and the SSSDP institutions will NOT enter into private deals (including verbal or written, or conditional offers, etc.) with applicants at any time of the entire JUPAS exercise.</p>
            <p class="card-text" style=text-align:justify>Notwithstanding the above, special considerations may be given to Applicants with Disabilities.  Such applicants may receive offers as a result of the special considerations given by the JUPAS participating-institutions or the SSSDP institutions</p>
            <p class="card-text">Conditional offers, where applicable, may also be made but will be confined to the following:</p>
            <p class="card-text">1. Other Experiences and Achievements in Competitions / Activities (OEA)</p>
            <p class="card-text">2. School Principal's Nominations (SPN)</p>
            <p class="card-text" style=text-align:justify>3. Outstanding Sportsmen Admission / Recommendation (run by individual institutions, applicants should apply directly to the respective institutions)</p>
            <p class="card-text" style=text-align:justify>The 9 JUPAS participating-institutions and the SSSDP institutions may give feedback on interviews for some programmes to applicants.  These however DO NOT constitute or entail an offer / a conditional offer.</p>
        </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(IV) Selection Criteria</h5>
    <div class="card-body">
            <p class="card-text" style=text-align:justify>In determining applicants' positions in the respective merit order lists, institutions' programmes will consider NOT ONLY the HKDSE Examination results.  Other factors taken into considerations may include performance in interviews and / or tests, banding of programme choices, HKDSE Examination results achieved by other applicants in the current year, the number of applicants applying to the programme, other information provided by applicants in the online application forms etc.</p>
            <p class="card-text" style=text-align:justify>Admission to the 9 JUPAS participating-institutions and the SSSDP institutions is on a competitive basis, since the number of places available is normally far less than the number of eligible applicants.  In this regard, satisfying the minimum entrance requirements of the 9 JUPAS participating-institutions or the SSSDP institutions, and their respective programmes does not therefore guarantee admission.</p>
            <p class="card-text" style="color:crimson; text-align:justify">Determination of applicants' suitability for admission is entirely the decisions of the 9 JUPAS participating-institutions and the SSSDP institutions, and is entirely independent of the JUPAS Office.  Enquiries on the institutions' decisions should be directed to the institutions concerned.</p>
        </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(V) Rechecking and Remarking of HKDSE Examination Results</h5>
    <div class="card-body">
            <p class="card-text" style=text-align:justify>Applicants submitting requests for reconsideration of application based on upgraded HKDSE Examination results on subject levels / grades after rechecking and remarking (RR results) can be assured that they will NOT be disadvantaged in any respect if they can fulfil all the necessary entrance requirements of the programmes concerned and their new positions on the respective merit order lists (redetermined taking into account applicants' RR results, banding of programme choices, interview performance, if applicable, and other factors) are higher than the Main Round cut-off points (i.e. the last applicant admitted) of the programmes concerned, they will be offered admission to the programmes concerned, regardless of whether the quotas of those programmes have already been filled.</p>
        </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(VI) Information on JUPAS</h5>
    <div class="card-body">
            <p class="card-text" style=text-align:justify>The JUPAS website, JUPAS App and Online Application System User Guide for Applicants (Applicants' User Guide) are the only official publications of JUPAS and information from any other sources is unofficial and for which JUPAS is not responsible.</p>
            <p class="card-text" style=text-align:justify>Applicants should access further information on the individual JUPAS participating-institutions and the individual SSSDP institutions, and their programmes at their respective official websites.</p>
        </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(VII) JUPAS Online Application System</h5>
    <div class="card-body">
            <p class="card-text" style=text-align:justify>Applicants should log on their JUPAS accounts from time to time to check the updated information released by the JUPAS Office, the 9 JUPAS participating-institutions and the SSSDP institutions in their message boxes.</p>
            <p class="card-text" style=text-align:justify>For security reasons, the login session will be automatically terminated after it has been idle for 30 minutes since applicants have logged on their JUPAS accounts.  Upon expiry, the applicants will be required to log on their JUPAS accounts again should they wish to continue using the JUPAS online application system.</p>
            <p class="card-text" style=text-align:justify>The JUPAS online application system will NOT detect that applicants are entering their information if they fail to save the information by clicking the "Submit" button.  The session will then be regarded as "idle".  Applicants are strongly advised to save the information entered from time to time which will restart the countdown of the 30-minute time-out.</p>
            <p class="card-text" style=text-align:justify>The JUPAS online application system will be closed temporarily during 3:00 am – 6:00 am daily for system maintenance.</p>
        </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(VIII) Submission of 2020 JUPAS Applications</h5>
    <div class="card-body">
            <p class="card-text" style=text-align:justify>All JUPAS applications should be submitted via the JUPAS online application system at JUPAS official website.</p>
            <p class="card-text" style=text-align:justify>The JUPAS online application system provides applicants with a convenient channel for submitting applications for admission to the 9 JUPAS participating-institutions and the SSSDP institutions and accessing the programme information.</p>
            <p class="card-text" style=text-align:justify>Applicants can log on their JUPAS accounts to check and update their personal data and programme choices during the designated periods after submission of their applications.  In addition, applicants can check their offer results and other application information regarding the JUPAS scheme.</p>
        </div>
</div>
<p></p>

</div>
</div>
</div>
