<div class="container">
    <div class="row">

        <div class="col-3">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/cityu">City University of Hong Kong (CityU) </a>

                <a class="list-group-item list-group-item-action" a href="/member/hkbu">Hong Kong Baptist University (HKBU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/lingu">Lingnan University (LingnanU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/cuhk">The Chinese University of Hong Kong (CUHK)</a>

                <a class="list-group-item list-group-item-action" a href="/member/eduhk">The Education University of Hong Kong (EduHK)</a>

                <a class="list-group-item list-group-item-action active" a href="/member/polyu">The Hong Kong Polytechnic University (PolyU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hkust">The Hong Kong University of Science and Technology (HKUST)</a>

                <a class="list-group-item list-group-item-action" a href="/member/hku">The University of Hong Kong (HKU)</a>

                <a class="list-group-item list-group-item-action" a href="/member/ouhk">The Open University of Hong Kong (OUHK)</a>
            
                <p></p>
            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: x-large; color:darkcyan">
                The Hong Kong Polytechnic University (PolyU) <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/52/PolyU.svg/340px-PolyU.svg.png" style="width:60px; height:60px">
            </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Vision</h5>
            <div class="card-body">
                    <p class="card-text" style=text-align:justify>Be a leading university that advances and transfers knowledge, and provides the best holistic education for the benefit of Hong Kong, the nation and the world.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Mission</h5>

            <div class="card-body">               
                    <p class="card-text">To pursue impactful research that benefits the world.</p> 
                    <p class="card-text" style=text-align:justify>To nurture critical thinkers, effective communicators, innovative problem solvers and socially responsible global citizens.</p>
                    <p class="card-text" style=text-align:justify>To foster a University community in which all members can excel in their aspirations with a strong sense of belonging and pride.</p>
                </div>
        </div>
        <p></p>

        <div class="card">
            <h5 class="card-header">Motto</h5>
            <div class="card-body">
                    <b><p class="card-title" style="color:crimson">To learn and to apply, for the benefit of mankind</p></b>
                    <p class="card-text" style=text-align:justify>The above is derived from the Chinese motto, quoted from the great Chinese classic Yijing (Book of Change) and two ancient treatises, one from Han dynasty and the other from pre-Qin times.</p>
                    <p class="card-text" style=text-align:justify>The original Chinese text can be paraphrased as follows: "Learn every truth and use the knowledge learned to accomplish every task" and "to learn; to serve".</p>
                </div>
        </div>
        <p></p>

        </div>
        </div>
        </div>