<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/arts">Faculty of Arts</a>

                <a class="list-group-item list-group-item-action" a href="/member/architecture">Faculty of Architecture</a>

                <a class="list-group-item list-group-item-action" a href="/member/business">Faculty of Business</a>

                <a class="list-group-item list-group-item-action" a href="/member/comm">Faculty of Communication</a>

                <a class="list-group-item list-group-item-action" a href="/member/engineering">Faculty of Engineering</a>

                <a class="list-group-item list-group-item-action active" a href="/member/science">Faculty of Science</a>

                <a class="list-group-item list-group-item-action" a href="/member/socialsciences">Faculty of Social Sciences</a>

            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
                Faculty of Science
            </div>

            <div class="card-body">
                <h4 class="card-title" style=text-align:justify>
                    Studying in Science can receive broad-based training that equips themselves with experiences in analyzing scientific problems using inter-disciplinary approach.</h4>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">1. Enployment Sectors</h5>

                <div class="card-body">
                    <p class="card-text">(i) Business / Commerce</p>
                    <p class="card-text">(ii) Government</p>
                    <p class="card-text">(iii) Education</p>
                    <p class="card-text">(iv) Community / Social services</p>
                    <p class="card-text">(v) Banking / Finance</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">2. Job Natures</h5>

                <div class="card-body">
                    <p class="card-text">(i) Scientific Research</p>
                    <p class="card-text">(ii) Technology Specialist</p>
                    <p class="card-text">(iii) Administration / Management</p>
                    <p class="card-text">(iv) Marketing</p>
                    <p class="card-text">(v) Sales</p>
                    <p class="card-text">(vi) Teaching</p>
                </div>
            </div>
            <p></p>

            </div>
            </div>
            </div>