<div class="container">
    <div class="row">

    <div class="col-4">
<div class="list-group">

    <a class="list-group-item list-group-item-action" a href="/member/jupas">JUPAS Information </a>

    <a class="list-group-item list-group-item-action" a href="/member/gov">Governance of JUPAS</a>

    <a class="list-group-item list-group-item-action" a href="/member/notes">Important Notes</a>

    <a class="list-group-item list-group-item-action active" a href="/member/security">About Security</a>

    <a class="list-group-item list-group-item-action" a href="/member/contact">Contact Us</a>

  </div>
</div>

<div class="col">


    <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
        Security for JUPAS Accounts
    </div>
    <p></p>

    <div class="card">
        <h5 class="card-header">(I) Applicants</h5>
        <div class="card-body">
                <p class="card-text">> SHOULD keep their login names AND passwords CONFIDENTIAL</p>
                <p class="card-text">> SHOULD change their passwords from time to time</p>
                <p class="card-text" style=text-align:justify>> SHOULD log out from their JUPAS accounts when they have finished using the JUPAS online application system</p>
                <p class="card-text" style=text-align:justify>> SHOULD NOT record their login names and / or passwords in any format.  If applicants must record them, keep them separate and safe in a place which only applicants themselves can access</p>
                <p class="card-text" style=text-align:justify>> SHOULD NOT use personal information, in particular HKID card numbers, initials of their names or their schools' names as their passwords which could be easily deciphered</p>
                <p class="card-text" style=text-align:justify>> SHOULD NOT leave their computers unattended while updating information and / or programme choices</p>
                <p class="card-text" style=text-align:justify>> SHOULD NEVER upload / update any information via embedded URLs in emails / websites.  All information should only be uploaded / updated via their JUPAS accounts.</p>
            </div>
</div>
<p></p>

<div class="card">
    <h5 class="card-header">(II) JUPAS Office</h5>
    <div class="card-body">  
            <p class="card-text">Please note that the JUPAS Office:</p>
            <p class="card-text">> WILL NOT release applicants' data to unauthorised third parties</p>
            <p class="card-text" style=text-align:justify>> WILL NEVER ask applicants for their login names and / or passwords in an unsolicited phone call, email, or any form of communication.  Applicants are reminded NOT to respond to any message that asks for them.</p>
        </div>
</div>
<p></p>
    </div>
</div>
</div>