<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="list-group">

                <a class="list-group-item list-group-item-action" a href="/member/arts">Faculty of Arts</a>

                <a class="list-group-item list-group-item-action" a href="/member/architecture">Faculty of Architecture</a>

                <a class="list-group-item list-group-item-action" a href="/member/business">Faculty of Business</a>

                <a class="list-group-item list-group-item-action" a href="/member/comm">Faculty of Communication</a>

                <a class="list-group-item list-group-item-action" a href="/member/engineering">Faculty of Engineering</a>

                <a class="list-group-item list-group-item-action" a href="/member/science">Faculty of Science</a>

                <a class="list-group-item list-group-item-action active" a href="/member/socialsciences">Faculty of Social Sciences</a>

            </div>
        </div>

        <div class="col">
            <div class="card-header" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large">
                Faculty of Social Sciences
            </div>

            <div class="card-body">
                <h4 class="card-title" style=text-align:justify>
                    Social science is to use the existing scientific methods to study the existing behavior patterns and artificial phenomenon in the human society. To understand a society, the department needs to start from a large number of different perspectives, economics, politics, culture, etc.</h4>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 1. Any kinds of civil servant ***</h5>

                <div class="card-body">
                    <p class="card-text">- Good salary</p>
                    <p class="card-text">- Stable payment of salary</p>
                    <p class="card-text">- Stable working hours</p>
                    <p class="card-text">- Good welfare</p>
                </div>
            </div>
            <p></p>

            <div class="card">
                <h5 class="card-header">*** 2. Editor ***</h5>

                <div class="card-body">
                    <p class="card-text">(i) Copywriter</p>
                    <p class="card-text">(ii) Advertising copywriter)</p>
                    <p class="card-text">(iii) Social media editor</p>
                    <p class="card-text">(iv) Newspaper editor/reporter</p>
                    <p class="card-text">(v)Textbook editor</p>
                    <p class="card-text">(vi) Website editor</p>
                    <p class="card-text">(vii) Publishing editor</p>
                </div>
            </div>
            <p></p>

            </div>
            </div>
            </div>